# Use a specific version of Node.js
FROM node:18-alpine

# Set the working directory
WORKDIR /app

# Copy package.json and package-lock.json first to leverage Docker cache
COPY web/package*.json ./

# Install dependencies
RUN npm install

# Copy the rest of the application code
COPY web .

# Set environment variables
ENV SHOPIFY_API_KEY=f143c896a2c666d4e62d480e45f53d37

# Change to the frontend directory, install dependencies, and build
RUN cd frontend && npm install && npm run build

# Default command
CMD ["npm", "run", "serve"]
